PHP_VERSION=8.0
APP_DIR=./app
HTTP_PORT=8000
MYSQL_ROOT_PASSWORD=top+secret
MYSQL_DATABASE=app
PHPMYADMIN_PORT=8800
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
PUID=1000
PGID=1000
LOCALE=POSIX
